In [1]:
import sys
import keyword
import operator
from datetime import datetime
import os

##  Keywords

Keywords are the reserved words in Python and can't be used as an identifier

In [2]:
print(keyword.kwlist) # List all Python Keywords

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [3]:
len(keyword.kwlist)

35

## Identifiers

An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate
one entity from another.

In [4]:
1var = 10 # Identifier can't start with a digit

SyntaxError: invalid syntax (<ipython-input-4-e48c1c8cefcf>, line 1)

In [5]:
val2@ = 35 # Identifier can't use special symbols

SyntaxError: invalid syntax (<ipython-input-5-7251d6d88b33>, line 1)

In [6]:
import = 125 # Keywords can't be used as identifiers

SyntaxError: invalid syntax (<ipython-input-6-f7061d4fc9ba>, line 1)

In [7]:
"""
Correct way of defining an identifier
(Identifiers can be a combination of letters in lowercase (a to z) or uppercase (
"""
val2 = 10

In [8]:
val_ = 99

## Comments in Python

Comments can be used to explain the code for more readabilty.

In [9]:
# Single line comment
val1 = 10
# Multiple
# line
# comment
val1 = 10

In [10]:
"""
Multiple
line
comment
"""
val1 = 10

In [11]:
'''
Multiple
line
comment
'''
val1 = 10

## Statements
Instructions that a Python interpreter can execute.

In [12]:
# Single line statement
p1 = 10 + 20
p1

30

In [13]:
# Single line statement
p2 = ['a' , 'b' , 'c' , 'd']
p2

['a', 'b', 'c', 'd']

In [16]:
# Multiple line statement
p1 = 20 + 30 + 40 + 50 +\
    + 70 + 80
p1

290

In [17]:
# Multiple line statement
p2 = ['a' ,
    'b' ,
    'c' ,
    'd'
    ]
p2

['a', 'b', 'c', 'd']

## Docstrings
1) Docstrings provide a convenient way of associating documentation with functions, classes,methods or modules.\
2) They appear right after the definition of a function, method, class, or module.

In [20]:
def square(num):
    '''Square Function :- This function will return the square of a number'''
    return num**2

In [22]:
square(25)

625

In [23]:
square.__doc__ # We can access the Docstring using __doc__ method

'Square Function :- This function will return the square of a number'

In [24]:
def evenodd(num):
    '''evenodd Function :- This function will test whether a number is Even or Odd'''
    if num % 2 == 0:
        print("Even Number")
    else:
        print("Odd Number")

In [26]:
evenodd(25)
evenodd(22)
evenodd.__doc__

Odd Number
Even Number

'evenodd Function :- This function will test whether a number is Even or Odd'

# Variables
A Python variable is a reserved memory location to store values.A variable is created the moment
you first assign a value to it.

In [27]:
p = 30

In [28]:
'''
id() function returns the “identity” of the object.
The identity of an object - Is an integer
- Guaranteed to be unique
- Constant for this object during its lifetime.
'''
id(p)

94159563687584

In [29]:
hex(id(p)) # Memory address of the variable

'0x55a33b5886a0'

In [30]:
p = 20 #Creates an integer object with value 20 and assigns the variable p to po
q = 20 # Create new reference q which will point to value 20. p & q will be poin
r = q # variable r will also point to the same location where p & q are pointing
p , type(p), hex(id(p)) # Variable P is pointing to memory location '0x7fff6d71a3

(20, int, '0x55a33b588560')

In [31]:
q , type(q), hex(id(q))

(20, int, '0x55a33b588560')

In [32]:
r , type(r), hex(id(r))

(20, int, '0x55a33b588560')

In [33]:
p = 20
p = p + 10 # Variable Overwriting
p

30

### Variable Assignment

In [34]:
intvar = 10 # Integer variable
floatvar = 2.57 # Float Variable
strvar = "Python Language" # String variable

print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

### Mutilple Assignment

In [35]:
intvar , floatvar , strvar = 10,2.57,"Python Language" # Using commas to separate
print(intvar)
print(floatvar)
print(strvar)

10
2.57
Python Language

In [36]:
p1 = p2 = p3 = p4 = 44 # All variables pointing to same value
print(p1,p2,p3,p4)

44 44 44 44

## Data Types

##Numeric

In [37]:
val1 = 10 # Integer data type
print(val1)
print(type(val1)) # type of object
print(sys.getsizeof(val1)) # size of integer object in bytes
print(val1, " is Integer?", isinstance(val1, int)) # val1 is an instance of int c

10
<class 'int'>
28
10  is Integer? True

In [38]:
val2 = 92.78 # Float data type
print(val2)
print(type(val2)) # type of object
print(sys.getsizeof(val2)) # size of float object in bytes
print(val2, " is float?", isinstance(val2, float)) # Val2 is an instance of float

92.78
<class 'float'>
24
92.78  is float? True

In [39]:
val3 = 25 + 10j # Complex data type
print(val3)
print(type(val3)) # type of object
print(sys.getsizeof(val3)) # size of float object in bytes
print(val3, " is complex?", isinstance(val3, complex)) # val3 is an instance of

(25+10j)
<class 'complex'>
32
(25+10j)  is complex? True

## String

In [40]:
str1 = "HELLO PYTHON"
print(str1)

HELLO PYTHON

In [41]:
str1[0:5] # String slicing - Fetch all characters from 0 to 5 index location excl

'HELLO'

In [42]:
str1[6:12] # String slicing - Retreive all characters between 6 - 12 index loc ex

'PYTHON'

In [43]:
str1[-4:] # Retreive last four characters of the string

'THON'

In [44]:
str1[:4] # Retreive first four characters of the string

'HELL'

In [45]:
str1[:6] # Retreive first six characters of the string

'HELLO '

### String concatenation

In [47]:
# String concatenation
s1 = "Hello"
s2 = "Anand"
s3 = s1 + " " + s2
print(s3)

Hello Anand

### Iterating through a string

In [48]:
for i in s3:
    print (i)

H
e
l
l
o

A
n
a
n
d

In [49]:
for i in enumerate(s3):
    print(i)

(0, 'H')
(1, 'e')
(2, 'l')
(3, 'l')
(4, 'o')
(5, ' ')
(6, 'A')
(7, 'n')
(8, 'a')
(9, 'n')
(10, 'd')

In [50]:
list(enumerate(s3))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'A'),
 (7, 'n'),
 (8, 'a'),
 (9, 'n'),
 (10, 'd')]

In [52]:
len(s3)

11

In [53]:
print("Hello" in s3)

True

In [54]:
print(" " in s3)

True

In [55]:
print("not in string" in s3)

False

In [57]:
str5 = "Natural language processing with python and R and Java "
L = str5.partition("and")
print(L)

('Natural language processing with python ', 'and', ' R and Java ')

### String Functions

In [58]:
mystr2 = "   hello Everyone   "
mystr2

'   hello Everyone   '

In [59]:
mystr2.strip()

'hello Everyone'

In [60]:
mystr2.rstrip() # Removes all whitespaces at the end of the string

'   hello Everyone'

In [62]:
mystr2.lstrip() # Removes all whitespaces at the beginning of the string

'hello Everyone   '

In [63]:
mystr1 = "*********Hello Everyone***********All the Best**********"
mystr1

'*********Hello Everyone***********All the Best**********'

In [64]:
mystr1.strip('*')

'Hello Everyone***********All the Best'

In [66]:
mystr2 = " Hello Everyone "

In [67]:
mystr2.replace("He" , "Ho") #Replace substring "He" with "Ho"

' Hollo Everyone '

In [68]:
mystr2.replace(" ", "")

'HelloEveryone'

In [69]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item1 , item2 and item3 are {} , {} and {}"
print(res.format(item1,item2,item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [73]:
# Combining string & numbers using format method
item1 = 40
item2 = 55
item3 = 77
res = "Cost of item1 , item2 and item3 are {0} , {1} and {2}"

print(res.format(item1,item2,item3))

Cost of item1 , item2 and item3 are 40 , 55 and 77

In [75]:
str2 = "WELCOME EVERYONE"
str2 = str2.center(51)
str2

'                  WELCOME EVERYONE                 '

In [76]:
str2 = "WELCOME EVERYONE"
str2 = str2.center(51,'*')
str2

'******************WELCOME EVERYONE*****************'

## list

1) List is an ordered sequence of items.\
2) We can have different data types under a list. E.g we can have integer, float and string items in a same list

In [77]:
list1 = []

In [78]:
print(type(list1))

<class 'list'>

In [79]:
list2 = [10,20,30] # List of integers numbers

In [80]:
list3 = [10.77,30.66,60.89] # List of float numbers

In [81]:
list4 = ['one','two' , "three"] # List of strings

In [82]:
list5 = ['Asif', 25 ,[50, 100],[150, 90]] # Nested Lists

In [83]:
list6 = [100, 'Asif', 17.765] # List of mixed data types

In [85]:
list7 = ['Asif', 25 ,[50, 100],[150, 90] , {'John' , 'David'}]
list7

['Asif', 25, [50, 100], [150, 90], {'David', 'John'}]

In [86]:
len(list6) #Length of list

3

In [87]:
list2[0] # Retreive first element of the list

10

In [88]:
list4[0] # Retreive first element of the list

'one'

In [89]:
list4[0][0] # Nested indexing - Access the first character of the first list elem

'o'

In [90]:
list4[-1] # Last item of the list

'three'

In [91]:
list5[-1] # Last item of the list

[150, 90]

In [112]:
mylist = ['one' , 'two' , 'three' , 'four' , 'five' , 'six' , 'seven' , 'eight']

In [93]:
mylist[0:3] # Return all items from 0th to 3rd index location excluding the item

['one', 'two', 'three']

In [94]:
mylist[2:5] # List all items from 2nd to 5th index location excluding the item at

['three', 'four', 'five']

In [95]:
mylist[:3] # Return first three items

['one', 'two', 'three']

In [96]:
mylist[:] # Return whole list

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [111]:
mylist

NameError: name 'mylist' is not defined

In [98]:
mylist.append('nine') # Add an item to the end of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [99]:
mylist.insert(9,'ten') # Add item at index location 9
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [100]:
mylist.insert(1,'ONE') # Add item at index location 1
mylist

['one',
 'ONE',
 'two',
 'three',
 'four',
 'five',
 'six',
 'seven',
 'eight',
 'nine',
 'ten']

In [101]:
mylist.remove('ONE') # Remove item "ONE"
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine', 'ten']

In [102]:
mylist.pop() # Remove last item of the list
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight', 'nine']

In [103]:
mylist.pop(8) # Remove item at index location 8
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven', 'eight']

In [104]:
del mylist[7] # Remove item at index location 7
mylist

['one', 'two', 'three', 'four', 'five', 'six', 'seven']

In [105]:
# Change value of the string
mylist[0] = 1
mylist[1] = 2
mylist[2] = 3
mylist

[1, 2, 3, 'four', 'five', 'six', 'seven']

In [107]:
mylist.clear() # Empty List / Delete all items in the list
mylist

[]

In [113]:
del mylist # Delete the whole list
mylist

NameError: name 'mylist' is not defined

## Operators
Operators are special symbols in Python which are used to perform operations on
variables/values.

In [122]:
a = 5
b = 2

x = 'Anand'
y = 'Gupta'

# Addition
c = a + b
print('Addition of {} and {} will give :- {} \n'.format(a,b,c))

#Concatenate string using plus operator
z = x+y
print ('Concatenate string \'x\' and \'y\' using \'+\' operaotr :- {}\n'.format(z,x,y))

#Subtraction
c = a - b
print('Subtracting {} from {} will give :- {}\n'.format(b,a,c))

# Multiplication
c = a * b
print('Multiplying {} and {} will give :- {}\n'.format(a,b,c))

                                                                                
#Division
c = a / b
print('Dividing {} by {} will give :- {}\n'.format(a,b,c))

#Modulo of both number
c = a % b
print('Modulo of {} , {} will give :- {}\n'.format(a,b,c))

#Power
c = a ** b
print('{} raised to the power {} will give :- {}\n'.format(a,b,c))

#Division(floor)
c = a // b
print('Floor division of {} by {} will give :- {}\n'.format(a,b,c))

Addition of 5 and 2 will give :- 7

Concatenate string 'x' and 'y' using '+' operaotr :- AnandGupta

Subtracting 2 from 5 will give :- 3

Multiplying 5 and 2 will give :- 10

Dividing 5 by 2 will give :- 2.5

Modulo of 5 , 2 will give :- 1

5 raised to the power 2 will give :- 25

Floor division of 5 by 2 will give :- 2

### Classes & Objects

* A Class is an object constructor or a "blueprint" for creating objects.
* Objects are nothing but an encapsulation of variables and functions into a single entity. 
* Objects get their variables and functions from classes.
* To create a class we use the keyword class.
* The first string inside the class is called docstring which gives the brief description about the class. 
* All classes have a function called which is always executed when the class is being initiated.
* We can use function to assign values to object properties or other operations that are necessary to perform when the object is being created 
* The self parameter is a reference to the current instance of the class and is used to access class variables. 
* self must be the first parameter of any function in the class. 
* The super() builtin function returns a temporary object of the superclass that allows us to access methods of the base class.
* super() allows us to avoid using the base class name explicitly and to enable multiple inheritance.

In [123]:
# Create a class with property "var1"
class myclass:
    var1 = 10
obj1 = myclass() # Create an object of class "myclass()"
print(obj1.var1)

10

In [124]:
# Create an employee class
class Employee:
    def __init__(self, name, empid): # __init__() function is used to assign values
        self.name = name
        self.empid = empid
    def greet(self): # Class Method
        print("Thanks for joining ABC Company {}!!".format(self.name))
emp1 = Employee("Anand", 34163) # Create an employee object

print('Name :- ',emp1.name)
print('Employee ID :- ',emp1.empid)
emp1.greet()

Name :-  Anand
Employee ID :-  34163
Thanks for joining ABC Company Anand!!

In [125]:
emp1.name = 'Basit' # Modify Object Properties
emp1.name

'Basit'

In [126]:
del emp1.empid # Delete Object Properties
emp1.empid

AttributeError: 'Employee' object has no attribute 'empid'

In [127]:
del emp1 # Delete the object
emp1

NameError: name 'emp1' is not defined

In [128]:
emp2 = Employee("Michael", 34162) # Create an employee object
print('Name :- ',emp2.name)
print('Employee ID :- ',emp2.empid)
emp2.greet()

Name :-  Michael
Employee ID :-  34162
Thanks for joining ABC Company Michael!!

In [129]:
emp2.country = 'India' #instance variable can be created manually
emp2.country

'India'

## Inheritance

* Inheritance is a powerful feature in object oriented programming.
* Inheritance provides code reusability in the program because we can use an existing class (Super Class/ Parent Class / Base Class) to create a new class (Sub Class / Child Class / Derived Class) instead of creating it from scratch.
* The child class inherits data definitions and methods from the parent class which facilitates the reuse of features already available. The child class can add few more definitions or redefine a base class method.
* Inheritance comes into picture when a new class possesses the 'IS A' relationship with an existing class. E.g Student is a person. Hence person is the base class and student is derived class.